@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text_color);
  font-family:"Golos Text", sans-serif;

}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: 60px;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

body {
  background-color: #FEFEF2;
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  max-width: 1440px;
  margin: auto;
  position: relative;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}