/* FONT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text_color);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: 60px;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  max-width: 1920px;
  margin: auto;
  position: relative;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}