:root {
  --bg-color-blue: #62ABBB;
  --bg-color-blue_dark: #486A76;
  --footer-bg-color: #2C4249;
  --main-color: #fff;
  --bg-light-color: #FEFEF2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 70px;
  padding-block: 7px;
  border-bottom: solid 1px var(--bg-color-blue);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.icon__text__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.icon__text,.custom-select {
  color: var(--bg-color-blue_dark);
  font-size: 12px;
}
.icon__container__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 0 40px 0 25px;
}
.icon__container__3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.custom-select {
  max-width: 70px;
}

.custom-select2 {
  max-width: 95px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 60px;
  margin-top: 15px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav__btn {
  background: transparent;
  border: solid 2px var(--bg-color-blue_dark);
  padding: 15px 17px;
  border-radius: 50px;
  color: var(--bg-color-blue_dark);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.nav__ul {
  display: flex;
  color: var(--bg-color-blue_dark);
  font-size: 18px;
  font-weight: 500;
  gap: 25px;
}


.font_h {
  font-family: "Manrope", sans-serif;
}


.main_form_title{
  display: flex;
  gap: 30px;
  border-bottom: 1px solid var(--bg-color-blue);
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 20px;
}

.active_section{
  color: var(--bg-color-blue);
}

.main_form_input{
  display: flex;
  flex-flow: column;
  gap: 5px;
  font-size: 14px;
  color: var(--bg-color-blue_dark);

  img{
    object-fit: contain;
  }
}

.style_inp{
  padding: 10px 15px;
  border: 1px solid var(--bg-color-blue);
  border-radius: 10px;
  height: 45px;
}

.wrap_input{
  display: flex;
  gap: 10px;
}

.custom_select_form{
  max-width: 305px;
}

.main_form_inputs{
  display: flex;
  /* justify-content: center; */
  gap: 7px;
}

.button_search{
  display: flex;
  align-items: center;
  margin-top: auto;
  background-color: var(--bg-color-blue);
  color: var(--main-color);
}

.min_select{
  width: 80px;
}

.btn_def{
  padding: 16px 28px;
  background-color: var(--bg-color-blue);
  color: var(--bg-light-color);
  font-size: 12px;
  max-width: 130px;
}

.welcome_block{
  position: relative;
  width: 1360px;
  height: 700px;
  border-radius: 60px;
  margin: 20px auto;
  background: url(../img/header_scroll/bg_img_1.png);
  background-repeat: no-repeat;
  background-size: cover;

  .main_form{
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    width: 1100px;
    margin: auto;
    background-color: var(--bg-light-color);
    padding: 20px 30px;
    border-radius: 40px;
  }

  .welcome_text{
    position: absolute;
    bottom: 95px;
    left: 65px;
    font-weight: 100;
    color: var(--bg-light-color);
    display: flex;
    flex-flow: column;
    gap: 10px;
    h1{
      font-size: 52px;
    }

    p{
      font-size: 24px;
    }


  }
}

.location__text {
  color: var(--bg-color-blue_dark);
}

.location {
  display: flex;
  gap: 5px;
  padding-inline: 70px;
  padding-block: 25px;
}

.banner__container {
  background: var(--bg-color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.banner {
  background: #FEFEF2;
  padding: 25px 150px 0 110px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.banner__text {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.fz-40 {
  font-size: 40px;
  color: var(--bg-color-blue_dark);
  font-weight: 400;
}
.fz-54 {
  font-size: 54px;
  color: var(--bg-color-blue_dark);
  font-weight: 600;
}

.banner__btn {
  padding: 15px 34px;
  border-radius: 50px;
  background: var(--bg-color-blue);
  color: #FEFEF2;
  width: 130px;
  font-size: 12px;
  margin-top: 16px;
}

footer {
  padding: 50px 90px;
}

.footer__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: solid 1px var(--bg-color-blue_dark);
}
.col__1,.col__2,.col__3 {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
}
.col__h {
  color: var(--bg-color-blue_dark);
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}
.col__text__container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
  p {
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    color: rgba(72, 106, 118, 0.75);
  }
}
.col__newsletter {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
.col__newsletter__h {
  font-size: 20px;
  font-weight: 500;
  color: var(--bg-color-blue_dark);
}
.col__newsletter__text {
  font-size: 16px;
  font-weight: 300;
  color: rgba(72, 106, 118, 0.75);
  padding-block: 5px;
}
.col__newsletter__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 70px;
  background: var(--bg-color-blue);
  font-weight: 300;
  color: #FEFEF2;
    margin: 3px 0 30px 0;
}
.arr__btn {
  padding: 14px 16px 14px 19px;
  background-color: #FEFEF2;
  border-radius: 300px;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}
.col__newsletter__btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--bg-color-blue_dark);
  border-radius: 70px;
  padding: 25px 22px;
  color: #FEFEF2;
  font-size: 18px;
  width: 264px;
}
.curs__container {
  margin-top: 25px;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 50px;
}
.curs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer__social__bottom {
  padding-top: 45px;
  display: flex;
  align-items: center;
  gap: 50px;
}