:root {
  --bg-color-blue: #62ABBB;
  --bg-color-blue_dark: #486A76;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 70px;
  padding-block: 7px;
  border-bottom: solid 1px var(--bg-color-blue);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.icon__text__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.icon__text,.custom-select {
  color: var(--bg-color-blue_dark);
  font-size: 12px;
}
.icon__container__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 0 40px 0 25px;
}
.icon__container__3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.custom-select {
  max-width: 70px;
}

.custom-select2 {
  max-width: 95px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 60px;
  margin-top: 15px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav__btn {
  background: transparent;
  border: solid 2px var(--bg-color-blue_dark);
  padding: 15px 17px;
  border-radius: 50px;
  color: var(--bg-color-blue_dark);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.nav__ul {
  display: flex;
  color: var(--bg-color-blue_dark);
  font-size: 18px;
  font-weight: 500;
  gap: 25px;
}

.font-h {
  font-family: "Manrope", sans-serif;
}